{% extends 'base.html.twig' %}

{% block title %}F1-Zone Pilotes{% endblock %}

{% block body %}
<div class="container">
<section>
    <h1 class="pilotes-title">Tous les pilotes</h1>
    <div class="pilotes-search-bar">
        <input type="text" id="pilote-search" placeholder="Rechercher un pilote..." class="search-input">
    </div>
    <div class="pilotes-cards">
        {% for pilote in pilotes %}
            <div class="pilote-card">
                <img src="{{ asset('assets/img/pilote/' ~ (pilote.photo ?: '../divers/pilotes-grp.webp')) }}" alt="{{ pilote.prenom }} {{ pilote.nom }}">
                <div class="pilote-info">
                    <h3>{{ pilote.prenom }} {{ pilote.nom }}</h3>
                    <div class="ecurie">{{ pilote.ecurie ? pilote.ecurie.nom : 'Sans écurie' }}</div>
                    <div class="numero">#{{ pilote.numero ?: '?' }}</div>
                    <a href="{{ path('app_pilote_show', {id: pilote.id}) }}" class="profil-btn btn">Voir profil</a>
                </div>
            </div>
        {% else %}
            <p>Aucun pilote trouvé.</p>
        {% endfor %}
    </div>
</section>
</div>
{% endblock %}
