{% extends 'base.html.twig' %}

{% block title %}{{ pilote.prenom }} {{ pilote.nom }}{% endblock %}

{% block body %}
<div class="container">
  <div class="pilote-detail-container">
  <div class="pilote-banner">
    <img src="{{ asset('assets/img/pilote/' ~ pilote.photo) }}" alt="{{ pilote.nom }} {{ pilote.prenom }}" class="pilote-photo-large">
    <div class="pilote-banner-title">{{ pilote.prenom }} <b>{{ pilote.nom|upper }}</b></div>
    <div class="pilote-num-nat">#{{ pilote.numero }} | {{ pilote.nationalite }}</div>
    <div class="pilote-date-naissance">Né le : {{ pilote.dateNaissance ? pilote.dateNaissance|date('d/m/Y') : 'N.C.' }}</div>
  </div>
  <div class="pilote-bio-block">
    <h2>Biographie</h2>
    <div class="pilote-biographie">{{ pilote.biographie|nl2br }}</div>
  </div>
  </div>
</div>
{% endblock %}
