{% extends 'base.html.twig' %}

{% block title %}{{ pilote.prenom }} {{ pilote.nom }}{% endblock %}

{% block body %}
<div class="pilote-detail-container">
  <div class="pilote-banner">
    <img src="{{ asset('assets/img/pilote/' ~ pilote.photo) }}" alt="{{ pilote.nom }} {{ pilote.prenom }}" class="pilote-photo-large">
    <div class="pilote-banner-title">{{ pilote.prenom }} <b>{{ pilote.nom|upper }}</b></div>
    <div class="pilote-num-nat">#{{ pilote.numero }} | {{ pilote.nationalite }}</div>
  </div>
  <h2 class="section-title">Statistiques 2024</h2>
  <div class="stats-section">
    <div class="stats-block">
      <ul class="pilote-stats-list">
        <li>Kilomètres parcourus : <b>{{ stats2024.km|default(0) }}</b></li>
        <li>Points remportés : <b>{{ stats2024.points|default(0) }}</b></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
