{% extends 'base.html.twig' %}

{% block title %}{{ ecurie.nom }}{% endblock %}

{% block body %}
<div class="team-detail-container">
  <div class="team-banner bg-{{ ecurie.nom|lower|replace({' ': '-'}) }}">
    <div class="team-banner-img-rel">
      <img src="{{ asset('assets/img/voiture-ecurie/' ~ ecurie.voitureImg) }}" alt="{{ ecurie.nom }} car" class="team-banner-car team-banner-car-rel">
    </div>
    <div class="team-banner-title">{{ ecurie.nom }}</div>
    <div class="drivers-directors-list">
      {% if ecurie.directeurNom or ecurie.directeurImg %}
        <div class="director-card">
          {% if ecurie.directeurImg %}
            <img src="{{ asset('assets/img/directeur-ecurie/' ~ ecurie.directeurImg) }}" alt="{{ ecurie.directeurNom }}" class="driver-photo">
          {% endif %}
          <div class="director-info">
            <div class="director-name">{{ ecurie.directeurNom }}</div>
          </div>
        </div>
      {% endif %}
      {% for pilote in ecurie.pilotes %}
        <div class="driver-card">
          <img src="{{ asset('assets/img/pilote/' ~ pilote.photo) }}" alt="{{ pilote.nom }} {{ pilote.prenom }}" class="driver-photo">
          <div class="driver-info">
            <div class="driver-name">{{ pilote.prenom }} <b>{{ pilote.nom|upper }}</b></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <h2 class="section-title">Classement Pilotes</h2>
  <table class="stats-pilotes-table">
    <thead>
      <tr>
        <th>Pilote</th>
        <th>Points</th>
        <th>Victoires</th>
        <th>Podiums</th>
      </tr>
    </thead>
    <tbody>
      {% for pilote in ecurie.pilotes %}
        <tr>
          <td class="pilote-nom">{{ pilote.prenom }} {{ pilote.nom }}</td>
          <td>{{ pilote.piloteStat and pilote.piloteStat.pointsTotal is not null ? pilote.piloteStat.pointsTotal : '–' }}</td>
          <td>{{ pilote.piloteStat and pilote.piloteStat.victoires is not null ? pilote.piloteStat.victoires : '–' }}</td>
          <td>{{ pilote.piloteStat and pilote.piloteStat.podiums is not null ? pilote.piloteStat.podiums : '–' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
