{% extends 'base.html.twig' %}

{% block title %}F1-Zone Circuits F1{% endblock %}
{% block body %}
<div class="circuits-page-container">
    <div class="circuits-search-bar">
        <input type="text" id="circuit-search" placeholder="Rechercher un circuit..." class="circuits-search-input">
    </div>

    <div class="circuits-list">
        {% for circuit in circuits %}
            <a class="circuit-card" href="{{ path('app_circuit_show', {id: circuit.id}) }}">
                <div class="circuit-round">ROUND {{ circuit.round }}</div>
                <div class="circuit-title">
                    {% if circuit.codePays %}
                        <img class="circuit-flag" src="https://flagsapi.com/{{ circuit.codePays }}/flat/32.png" alt="{{ circuit.pays }}">
                    {% endif %}
                    {{ circuit.nomCircuit }}
                </div>
                <div class="circuit-gp">{{ circuit.nomGp }}</div>
                <div class="circuit-date">
                    {{ circuit.dateDebut|date('d') }} – {{ circuit.dateFin|date('d M') }}
                </div>
                {% if circuit.imageSvg %}
                    <img class="circuit-img{% if '.png' in circuit.imageSvg %} circuit-img--png{% endif %}" 
                        src="{{ asset('assets/svg/' ~ circuit.imageSvg) }}" 
                        alt="{{ circuit.nomCircuit }}">
                {% endif %}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
