<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
        <header>
            <nav>
                <img src="{{ asset('assets/img/divers/casque-logo.png')}}" alt="Logo du site" class="logo-header">
                                <a href="{{ path('app_home') }}">Home</a>
                                <a href="{{ path('app_transfert_pilote') }}">Transfert Pilote</a>
                                <div class="navbar-megamenu-wrapper">
                                    <a href="{{ path('app_teams') }}" class="navbar-megamenu-link">Teams</a>
                                    <div class="navbar-megamenu">
                                        <div class="teams-grid">
                                            <div class="team-card bg-alpine">
                                                <img src="{{ asset('assets/img/voiture-ecurie/voiture-alpine.webp') }}" alt="Alpine" class="team-car-img">
                                                <div><div class="team-name">Alpine</div></div>
                                            </div>
                                            <div class="team-card bg-aston-martin">
                                                <img src="{{ asset('assets/img/voiture-ecurie/voiture-aston-martin.avif') }}" alt="Aston Martin" class="team-car-img">
                                                <div><div class="team-name">Aston Martin</div></div>
                                            </div>
                                            <div class="team-card bg-kick-sauber">
                                                <img src="{{ asset('assets/img/voiture-ecurie/voiture-kicksauber.avif') }}" alt="Kick Sauber" class="team-car-img">
                                                <div><div class="team-name">Kick Sauber</div></div>
                                            </div>
                                            <div class="team-card bg-ferrari">
                                                <img src="{{ asset('assets/img/voiture-ecurie/voiture-ferrari.avif') }}" alt="Ferrari" class="team-car-img">
                                                <div><div class="team-name">Ferrari</div></div>
                                            </div>
                                            <div class="team-card bg-haas">
                                                <img src="{{ asset('assets/img/voiture-ecurie/voiture-haas.avif') }}" alt="Haas F1 Team" class="team-car-img">
                                                <div><div class="team-name">Haas F1 Team</div></div>
                                            </div>
                                            <div class="team-card bg-mclaren">
                                                <img src="{{ asset('assets/img/voiture-ecurie/voiture-mclaren.avif') }}" alt="McLaren" class="team-car-img">
                                                <div><div class="team-name">McLaren</div></div>
                                            </div>
                                            <div class="team-card bg-mercedes">
                                                <img src="{{ asset('assets/img/voiture-ecurie/voiture-mercedes.avif') }}" alt="Mercedes" class="team-car-img">
                                                <div><div class="team-name">Mercedes</div></div>
                                            </div>
                                            <div class="team-card bg-racing-bulls">
                                                <img src="{{ asset('assets/img/voiture-ecurie/voiture-racingbull.avif') }}" alt="Racing Bulls" class="team-car-img">
                                                <div><div class="team-name">Racing Bulls</div></div>
                                            </div>
                                            <div class="team-card bg-red-bull-racing">
                                                <img src="{{ asset('assets/img/voiture-ecurie/voiture-redbull.avif') }}" alt="Red Bull Racing" class="team-car-img">
                                                <div><div class="team-name">Red Bull Racing</div></div>
                                            </div>
                                            <div class="team-card bg-williams">
                                                <img src="{{ asset('assets/img/voiture-ecurie/voiture-williams.avif') }}" alt="Williams" class="team-car-img">
                                                <div><div class="team-name">Williams</div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-megamenu-wrapper">
                                    <a href="{{ path('app_pilotes') }}" class="navbar-megamenu-link">Pilotes</a>
                                    <div class="navbar-megamenu navbar-megamenu-pilotes">
                                        <div class="teams-grid">
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/verstappen.avif') }}" alt="Max Verstappen" class="team-car-img">
                                                <div><div class="team-name">Max Verstappen</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/perez.avif') }}" alt="Sergio Perez" class="team-car-img">
                                                <div><div class="team-name">Sergio Perez</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/leclerc.avif') }}" alt="Charles Leclerc" class="team-car-img">
                                                <div><div class="team-name">Charles Leclerc</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/sainz.avif') }}" alt="Carlos Sainz" class="team-car-img">
                                                <div><div class="team-name">Carlos Sainz</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/hamilton.avif') }}" alt="Lewis Hamilton" class="team-car-img">
                                                <div><div class="team-name">Lewis Hamilton</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/russell.avif') }}" alt="George Russell" class="team-car-img">
                                                <div><div class="team-name">George Russell</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/norris.avif') }}" alt="Lando Norris" class="team-car-img">
                                                <div><div class="team-name">Lando Norris</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/piastri.avif') }}" alt="Oscar Piastri" class="team-car-img">
                                                <div><div class="team-name">Oscar Piastri</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/alonso.avif') }}" alt="Fernando Alonso" class="team-car-img">
                                                <div><div class="team-name">Fernando Alonso</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/stroll.avif') }}" alt="Lance Stroll" class="team-car-img">
                                                <div><div class="team-name">Lance Stroll</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/ocon.avif') }}" alt="Esteban Ocon" class="team-car-img">
                                                <div><div class="team-name">Esteban Ocon</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/gasly.avif') }}" alt="Pierre Gasly" class="team-car-img">
                                                <div><div class="team-name">Pierre Gasly</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/bottas.avif') }}" alt="Valtteri Bottas" class="team-car-img">
                                                <div><div class="team-name">Valtteri Bottas</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/zhou.avif') }}" alt="Guanyu Zhou" class="team-car-img">
                                                <div><div class="team-name">Guanyu Zhou</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/tsunoda.avif') }}" alt="Yuki Tsunoda" class="team-car-img">
                                                <div><div class="team-name">Yuki Tsunoda</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/ricciardo.avif') }}" alt="Daniel Ricciardo" class="team-car-img">
                                                <div><div class="team-name">Daniel Ricciardo</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/magnussen.avif') }}" alt="Kevin Magnussen" class="team-car-img">
                                                <div><div class="team-name">Kevin Magnussen</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/hulkenberg.avif') }}" alt="Nico Hülkenberg" class="team-car-img">
                                                <div><div class="team-name">Nico Hülkenberg</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/albon.avif') }}" alt="Alex Albon" class="team-car-img">
                                                <div><div class="team-name">Alex Albon</div></div>
                                            </div>
                                            <div class="team-card">
                                                <img src="{{ asset('assets/img/pilote/sargeant.avif') }}" alt="Logan Sargeant" class="team-car-img">
                                                <div><div class="team-name">Logan Sargeant</div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ path('app_circuits') }}">Circuits</a>
                <a href="{{ path('article_index') }}">Actus</a>
                <a href="{{ path('app_reglementation_fia') }}">Réglementation FIA</a>
                {% if app.user %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('admin') }}">Admin</a>
                    {% endif %}
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                    <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
            </nav>
        </header>
    <body>

        {% block body %}{% endblock %}
    </body>
</html>
